.yoga-container {
    background: url('../../utils/homewallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    display: inline-block;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.yoga-container-start {
    background: url('../../utils/homewallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    display: inline-block;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.secondary-btn {
    width: 200px;
    left: 45%;
    padding: 10px 20px; 
    border-radius: 5px;
    border-color: rgba(125, 125, 125, 0.1);
    border-width: 3px;
    background-color: rgba(255, 228, 196, 0.5); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #333; 
    margin-top: 20px;
    margin-bottom: 50px;
}

.secondary-btn:hover {
    background-color: rgba(255, 228, 196, 0.8); 
}

.starting-contdown {
    margin: auto;
    border: 10px solid rgba(125, 125, 125, 0.5);
    width: max-content;
    padding: 10px 30px;
    border-radius: 50%;
    background-color: rgba(255, 248, 220, 0.7); /* Creamy background */
    position: relative;
    top: 45%;
}
.starting-contdown h1 {
    color: #333; /* Dark text */
}

.pose-img {
    position: absolute;
    right: 120px;
    top: 80px;
    width: 500px;
    aspect-ratio: 1;
}

.performance-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: absolute;
   
}

.pose-performance {
    margin: 10px;
    background-color: rgba(255, 228, 196, 0.5); /* Light peach */
    border-radius: 8px;
    padding: 10px;
}
.pose-performance h4 {
    color: #333; /* Darker text */
}

#webcam {
    transform: rotateY(180deg);
}

#my-canvas {
    transform: rotateY(180deg);
}

.mid-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.mid-column-container-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}